html, body {
    scroll-behavior: auto !important;
}

.container {
    max-width: 100%;
}

@media (min-width: 1200px) {
    .container {
        padding: 0 2.5rem;
    }
}

h1 {
    margin-bottom: 2rem;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

img.page-image {
    max-width: 25rem;
}

ul {
    margin: 0;
    padding-left: 1rem;
    list-style-type: disc;
}

ul.clean {
    padding-left: 0;
    list-style-type: none;
}

ul.spaced li:not(:first-child) {
    margin-top: 1rem;
}

.description ul {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.spinner-border {
    width: 5rem;
    height: 5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.hideable {
    position: relative;
}

body .hideable-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #547bae;
    border: 1px solid #fff;
    z-index: 1;
}

#header {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
@media (min-width: 1200px) {
    #header {
        margin-top: 0.5rem;
    }
}

#header .filter-wrapper,
#header .filter-wrapper .search-wrapper {
    display: block;
}
#header .filter-wrapper {
    width: 100%;
}
#header .filter-wrapper .search-wrapper-description {
    display: none;
}
@media (min-width: 576px) {
    #header .filter-wrapper,
    #header .filter-wrapper .search-wrapper {
        display: inline-block;
        width: auto;
    }
    #header .filter-wrapper .search-wrapper-description {
        display: none;
    }
}
@media (min-width: 992px) {
    #header .filter-wrapper .search-wrapper-description {
        display: inline-block;
    }
}

#header .search-wrapper .search-results {
    position: absolute;
    width: 100%;
    background: #fff;
}
#header .search-wrapper .search-results > table {
    margin-bottom: 0;
}
#header .search-wrapper .search-results a {
    display: inline-block;
    width: 100%;
}
#header .search-wrapper .search-results a:hover,
#header .search-wrapper .search-results a:focus {
    background: #cbe7ff;
}


/** Table **/

.table tr td {
    background-color: transparent;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
  --bs-table-bg-type: transparent;
}

.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: var(--bs-table-striped-bg);
}

.table .table {
    margin-top: -0.5rem;
    margin-bottom: 0;
}

/** Forms **/
form .form-check,
form .form-check * {
    cursor: pointer;
}

input[type="text"]::-webkit-input-placeholder { color:#aaa; }
input[type="text"]::-moz-placeholder { color:#aaa; }

/** List page **/
.form-control-wrapper {
    position: relative;
    display: inline-block;
    margin: 0.5rem;
}

.page-list form[name="filters"] .form-control-wrapper:not(:first-child) {
    display: none;
}

@media (min-width: 1200px) {
    .page-list form[name="filters"] .form-control-wrapper:not(:first-child) {
        display: inline-block;
    }
}

.search-wrapper input[type="text"] {
    padding-right: 2rem;
}

.search-wrapper .ico {
    position: absolute;
    right: 1rem;
    top: calc(50% - 6px);
}

/** Test page **/

.page-test form table tr td {
    vertical-align: middle;
}
.page-test form table tr td label {
    margin: 0;
}

.page-test input.ci-absolute {
    border-width: 2px;
    border-color: red;
}
.page-test input.ci-relative {
    border-width: 2px;
    border-color: orange;
}
.page-test input.ci-clean {
    border-color: green;
}
.page-test .title-wrapper button {
    position: relative;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
}
.page-test .title-wrapper button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.page-test .title-wrapper button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.page-test #assignments-wrapper:not(.show-all) .test-item.display-if-previous-filled:not(:first-of-type) {
    display: none;
}
.page-test #assignments-wrapper .test-item.filled+.test-item.display-if-previous-filled {
    display: revert;
}

.page-test #assignments-wrapper .test-item[data-item-type="radio"] .form-check {
    position: relative;
    padding: 0;
}
.page-test #assignments-wrapper .test-item[data-item-type="radio"]:not(.disabled) .form-check:hover,
.page-test #assignments-wrapper .test-item[data-item-type="radio"] .form-check.selected {
    box-shadow: 0 0 3pt 2pt cornflowerblue;
}
.page-test #assignments-wrapper .test-item[data-item-type="radio"] input {
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.75rem;
}
.page-test #assignments-wrapper .test-item[data-item-type="radio"] label {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}
